body {
    background-color: rgb(241, 248, 248);
    text-align: center
  }
  div { 
      margin-top: 80px         
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(114, 103, 121);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgba(31, 12, 39, 0.87);
  }
  
  .active {
    background-color: rgb(48, 35, 54);
  }
    